<h1>Books</h1>

  <table>
    <tr>
      <th>title</th>
      <th>body</th>
      <th col span="3"></th>
    </tr>
    <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      <td><%= link_to 'Show', book_path(book) %></td>
      <td><%= link_to 'Edit', edit_book_path(book) %></td>
      <td><%= link_to 'Destroy', book_path(book), method: :delete %></td>
    </tr>
    <% end %>
  </table>

  <h2>New Book</h2>
  <%= form_for @book do |f| %>
    <div>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :body %><br>
      <%= f.text_area :body %><br>
    </div>
    <%= f.submit %>
  <% end %>
